<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1095525289299-ie2v4frj0beqd6ihorqc68aage8p2ofi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1095525289299-ie2v4frj0beqd6ihorqc68aage8p2ofi</string>
	<key>API_KEY</key>
	<string>AIzaSyCUYNc4RDcOxAQ5GePu0gf-VIpdt67S13o</string>
	<key>GCM_SENDER_ID</key>
	<string>1095525289299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shri99.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-42570</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-42570.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095525289299:ios:6378f061a4f14d37</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-42570.firebaseio.com</string>
</dict>
</plist>
